In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

importing the csv file

In [2]:
df = pd.read_csv('sleep_health_lifestyle_dataset.csv')

In [3]:
df.shape

(400, 13)

DATA CLEANING

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 13 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Person ID                              400 non-null    int64
 1   Gender                                 399 non-null    object
 2   Age                                    400 non-null    int64
 3   Occupation                             399 non-null    object
 4   Sleep Duration (hours)                 400 non-null    float64
 5   Quality of Sleep (scale: 1-10)         399 non-null    float64
 6   Physical Activity Level (minutes/day)  400 non-null    int64
 7   Stress Level (scale: 1-10)             400 non-null    int64
 8   BMI Category                           400 non-null    object
 9   Blood Pressure (systolic/diastolic)    400 non-null    object
 10  Heart Rate (bpm)                       400 non-null    int64
 11  Daily Steps                            400 non-null    int64
 12  Sleep Disorder                         109 non-null    object
dtypes: float64(2), int64(6), object(5)
memory usage: 40.8+ KB

In [5]:
df.dropna(axis=0,inplace=True)   ## dropna drops all the null value and axis= 0 represent x-axis

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 108 entries, 4 to 398
Data columns (total 13 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Person ID                              108 non-null    int64
 1   Gender                                 108 non-null    object
 2   Age                                    108 non-null    int64
 3   Occupation                             108 non-null    object
 4   Sleep Duration (hours)                 108 non-null    float64
 5   Quality of Sleep (scale: 1-10)         108 non-null    float64
 6   Physical Activity Level (minutes/day)  108 non-null    int64
 7   Stress Level (scale: 1-10)             108 non-null    int64
 8   BMI Category                           108 non-null    object
 9   Blood Pressure (systolic/diastolic)    108 non-null    object
 10  Heart Rate (bpm)                       108 non-null    int64
 11  Daily Steps                            108 non-null    int64
 12  Sleep Disorder                         108 non-null    object
dtypes: float64(2), int64(6), object(5)
memory usage: 11.8+ KB

In [7]:
df.head()

,Person ID,Gender,Age,Occupation,Sleep Duration (hours),Quality of Sleep (scale: 1-10),Physical Activity Level (minutes/day),Stress Level (scale: 1-10),BMI Category,Blood Pressure (systolic/diastolic),Heart Rate (bpm),Daily Steps,Sleep Disorder
4,5,Male,67,Retired,9.1,9.5,19,4,Overweight,133/78,97,14945,Insomnia
8,9,Male,25,Manual Labor,11.9,7.2,27,8,Underweight,112/63,99,16397,Sleep Apnea
12,13,Male,54,Office Worker,4.1,6.8,113,9,Obese,137/90,70,15440,Sleep Apnea
18,19,Female,26,Manual Labor,9.2,6.4,93,9,Underweight,113/65,78,9957,Sleep Apnea
19,20,Male,27,Manual Labor,10.6,8.1,94,8,Normal,113/63,58,17796,Insomnia

In [8]:
pd.isnull(df).sum()  ## checking whether their is any null value in any column collectively

Person ID                                0
Gender                                   0
Age                                      0
Occupation                               0
Sleep Duration (hours)                   0
Quality of Sleep (scale: 1-10)           0
Physical Activity Level (minutes/day)    0
Stress Level (scale: 1-10)               0
BMI Category                             0
Blood Pressure (systolic/diastolic)      0
Heart Rate (bpm)                         0
Daily Steps                              0
Sleep Disorder                           0
dtype: int64

In [9]:
df.columns

Index(['Person ID', 'Gender', 'Age', 'Occupation', 'Sleep Duration (hours)',
       'Quality of Sleep (scale: 1-10)',
       'Physical Activity Level (minutes/day)', 'Stress Level (scale: 1-10)',
       'BMI Category', 'Blood Pressure (systolic/diastolic)',
       'Heart Rate (bpm)', 'Daily Steps', 'Sleep Disorder'],
      dtype='object')

In [10]:
df.rename(columns = {'Physical Activity Level (minutes/day)':'exercise(min/day)'})

,Person ID,Gender,Age,Occupation,Sleep Duration (hours),Quality of Sleep (scale: 1-10),exercise(min/day),Stress Level (scale: 1-10),BMI Category,Blood Pressure (systolic/diastolic),Heart Rate (bpm),Daily Steps,Sleep Disorder
4,5,Male,67,Retired,9.1,9.5,19,4,Overweight,133/78,97,14945,Insomnia
8,9,Male,25,Manual Labor,11.9,7.2,27,8,Underweight,112/63,99,16397,Sleep Apnea
12,13,Male,54,Office Worker,4.1,6.8,113,9,Obese,137/90,70,15440,Sleep Apnea
18,19,Female,26,Manual Labor,9.2,6.4,93,9,Underweight,113/65,78,9957,Sleep Apnea
19,20,Male,27,Manual Labor,10.6,8.1,94,8,Normal,113/63,58,17796,Insomnia
...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,393,Female,18,Manual Labor,8.2,6.9,68,3,Normal,109/61,59,6891,Insomnia
395,396,Female,36,Student,4.5,7.9,73,7,Normal,118/66,64,14497,Sleep Apnea
396,397,Female,45,Manual Labor,6.0,6.1,72,8,Obese,132/80,65,12848,Insomnia
397,398,Female,30,Student,5.3,6.5,58,10,Obese,125/76,66,15255,Insomnia
398,399,Female,41,Retired,11.0,9.1,73,9,Obese,130/75,75,6567,Sleep Apnea

In [23]:
df.describe()

,Person ID,Age,Sleep Duration (hours),Quality of Sleep (scale: 1-10),Physical Activity Level (minutes/day),Stress Level (scale: 1-10),Heart Rate (bpm),Daily Steps
count,108.000000,108.00000,108.000000,108.000000,108.000000,108.000000,108.000000,108.000000
mean,197.407407,39.87037,8.175000,6.163889,57.462963,5.453704,76.333333,12154.629630
std,121.439269,14.43522,2.487882,1.811307,30.745998,2.869056,14.389118,5155.705042
min,5.000000,18.00000,4.100000,1.000000,11.000000,1.000000,50.000000,2191.000000
25%,92.000000,29.50000,5.800000,5.100000,29.000000,3.000000,65.000000,7445.250000
50%,191.500000,40.00000,8.900000,6.150000,55.500000,5.000000,77.000000,13906.500000
75%,298.250000,47.25000,10.225000,7.225000,79.000000,8.000000,89.250000,16093.250000
max,399.000000,90.00000,12.000000,10.000000,120.000000,10.000000,100.000000,19901.000000

##EXPLORATORY DATA ANALYSIS